

<h3>View Media</h3>

          <ul>
            <li><a href="/works">Media</a></li>
			<LI>Time Now: <%= Time.now  %>
			<LI>Year Now: <%= Time.now.year %>
			<LI>Time Hour: <%= Time.now.hour  %>
			<LI>Current Date (when loaded): <%= Time.now.strftime(" %m/%d/%Y")  %>
			<LI>Current Time (when loaded): <%= Time.now.strftime(" %I:%M") %>
			<LI>Current User: <%= @theuser %>
			
			
			
          </ul>
		  







